[Unit]
Description=Run campus-fetch weekly
Requires=campus_fetch.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
