[Unit]
Description=Ensure correct nightlight state at boot and on schedule

[Service]
Type=oneshot
ExecStart=%h/Projects/github-pedrofuentes79/nightlight-auto

